extends includes/_layout

block content
    main
        .category-intro
            .container
                ul.breadcrumbs-line.row
                    li: a(href="#") Главная
                    li.separator: a(href="#") >
                    li: a(href="#") Каталог
                    li.separator: a(href="#") >
                    li: a(href="#") Наливные полы
                .category-logo
                    i.icon-title
                h1.category-title Наливные полы от производителя
                p Наливной пол (промышленный пол) — вид стяжки пола использующий так называемые самовыравнивающиеся смеси. Особенностью наливного пола является минимально возможная толщина — 3,5 мм. Существуют как минимум два типа наливных полов: финишное покрытие, которое впоследствии и является напольным покрытием
                a(href="#").btn.btn-red.category-intro__btn Быстрый расчет
        .category-apply
            .container
                .category-inline.row
                    .category-inline__icons.row
                        .category-inline__icon.col-md-4
                            i.icon-production
                            p Производство
                        .category-inline__icon.col-md-4
                            i.icon-book
                            p Школы, ВУЗы,  дет. сады
                        .category-inline__icon.col-md-4
                            i.icon-metro
                            p Аэропорты, вокзалы, метро
                        .category-inline__icon.col-md-4
                            i.icon-parking
                            p Паркинги, гаражи
                        .category-inline__icon.col-md-4
                            i.icon-trade
                            p Торговые комплексы
                        .category-inline__icon.col-md-4
                            i.icon-trade
                            p Торговые комплексы
                        .category-inline__icon.col-md-4
                            i.icon-stock
                            p Склады
                        .category-inline__icon.col-md-4
                            i.icon-medical
                            p Здравоохранение, фармацевтика
                        .category-inline__icon.col-md-4
                            i.icon-medical
                            p Здравоохранение, фармацевтика
                        .category-inline__icon.col-md-4
                            i.icon-office
                            p Квартиры и офисы
                        .category-inline__icon.col-md-4
                            i.icon-lightning
                            p Объекты атомной энергетики, ТЭЦ
                    .category-apply-product
                        img(src="./img/product-item.png" alt="#")
        .category-content
            .container
                .category-catalog-items
                    h2.catalog-title Наливные полы
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-7
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-8
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-5
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-3
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-9
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-6
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
                    .catalog-item
                        p.catalog-item__title
                            i.icon-menu-item-2
                            span Teping Пол 205 C
                            span.catalog-item__tag Хит
                        .catalog-item__inline
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                            .catalog-item__info
                                .catalog-item__price-list
                                    p!='за комплект: <strong>5 475 руб.</strong>'
                                    p масса комплекта: 14,8 кг
                                .catalog-item__price
                                    p за кг
                                    p.price 370 ₽
        .category-desc
            .container
                .category-desc__text
                    h2 Устройство пола
                    p: strong Подготовка основания под наливные полы
                    p Одним из важнейших факторов устройства полимерных наливных полов является качественная подготовка основания. Несоблюдение требований и нарушение технологических регламентов подготовки поверхности приводят к вздутиям и отслоениям полимерного слоя. Примерно в 90% случаях причиной отслоения и разрушения полимерных покрытий является неграмотная подготовка основания. Поэтому стоит подробнее остановиться на основных требованиях, предъявляемых к основанию для устройства наливных полов.
        .objects
            h2.text-center Объекты с полимерными полами
            include includes/_objects-slider
        include includes/_callback