extends includes/_layout

block content
    main
        .catalog.catalog_solutions
            .container
                .catalog-inline
                    aside.sidebar
                        .sidebar__container
                            ul.sidebar__breadcrumbs.breadcrumbs-line.row
                                li: a(href="#") Главная
                                li.separator: a(href="#") >
                                li: a(href="#") Готовые решения
                            form.filter
                                p.sidebar__title: strong Фильтр
                                p.filter-title Тип объекта
                                .filter-group.filter-group_scroll
                                    label(data-result="").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Складское помещение
                                    label(data-result="").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Паркинг, гараж
                                    label(data-result="").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Производство
                                    label(data-result="").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Торговый центр
                                    label(data-result="").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Общественное здание
                                    label(data-result="").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Здравоохранение
                                p.filter-title Цена за м #[sup 2]
                                .filter-group
                                    label(data-result="23").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption от 99 до 275 руб.
                                    label(data-result="15").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption от 275 до 570 руб.
                                    label(data-result="13").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption от 570 до 1000 руб.
                                    label(data-result="9").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption от 1000 руб.
                                p.filter-title Интенсивность нагрузок
                                    i.icon-question
                                        span.filter-title__more-info
                                            span Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                .filter-group
                                    label(data-result="35").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Легкие
                                    label(data-result="15").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Тяжелые
                                p.filter-title Эксплуатация
                                .filter-group
                                    label(data-result="10").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Химическое воздействие
                                    label(data-result="8").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Отрицательная температура
                                    label(data-result="5").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Ультрафиолетовое излучение
                                    label(data-result="19").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Ударные нагрузки
                                    label(data-result="5").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Влажный бетон
                                p.filter-title Основа
                                    i.icon-question
                                        span.filter-title__more-info
                                            span Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                .filter-group
                                    label(data-result="15").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Полиуретановая
                                    label(data-result="35").filter-group__label.checkbox
                                        input(type="checkbox").checkbox__input
                                        span.checkbox__new-style
                                        span.checkbox__caption Эпоксидная
                    section.content.block
                        h2.catalog-title Готовые решения для склада
                        p Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении. Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии истиранию, сильным ударам. Практичное в очищении.
                        .sorting.row
                            .sorting__category.row
                                p Показывать
                                label.checkbox
                                    input(type="checkbox").checkbox__input
                                    span.checkbox__new-style
                                    span.checkbox__caption Наливные полы
                                label.checkbox
                                    input(type="checkbox").checkbox__input
                                    span.checkbox__new-style
                                    span.checkbox__caption Краски
                                label.checkbox
                                    input(type="checkbox").checkbox__input
                                    span.checkbox__new-style
                                    span.checkbox__caption Травмобезопасные покрытия
                            .sorting__type.row
                                p Сортировать
                                select.sorting-select
                                    option по Цене
                                    option по Популярности
                                    option по Умолчанию
                                    option по Новизне
                        .solution-items
                            .solution-item
                                .solution-item__top
                                    .solution-image
                                        img(src="./img/solutions/items/1.jpg" alt="#")
                                    .solution-info
                                        .solution-desc
                                            p.solution-desc__category Наливной пол
                                            p.solution-desc__title Промышленный эпоксидный пол 3 мм
                                            p Надежная эпоксидная система на основе Тэпинг 205 С с&nbsp;грунтом и песком
                                            .solution-char
                                                p Характеристики
                                                .solution-char__icons.row
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-1.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-2.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-3.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                        .solution-price
                                            .solution-price__info
                                                p.solution-price__item 1 660 ₽
                                                p!="за м<sup>2</sup>"
                                            .solution-price__btn
                                                a(href="javascript:;").btn.btn-black-transparent.btn-small.solution-price__more-btn
                                                    span Подробнее
                                                    i.icon-arrow
                                .solution-item__bottom
                                    .solution-more-desc
                                        p.solution__text-icon Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении.
                                        .solution-more-desc__section
                                            .solution-more-desc__image
                                                img(src="./img/solutions/items/more-image.png" alt="#")
                                            .solution-more-desc__text
                                                p Финишный слой Тэпинг Пол 205 Пром
                                                p Укрепляющий слой Тэпинг Пол 205 С Пром
                                                p Базовый слой Тэпинг Пол 205 С Пром с армированием кварцевым песком
                                                p Грунт Тэпинг Р 1155
                                        p: strong Применяется на объектах
                                        p Склад, паркинг, гараж, производство, объект атомной энергетики, ТЭЦ, торговый центр, общественные здания, здравоохранение, аэропорт, вокзал, метро, образовательное учреждение, детская игровая площадка, спортивная площадка, фермерство, животновотство
                                    .solution-calc
                                        p.solution-calc__title Рассчитайте стоимость
                                        label.solution-calc__input
                                            span Площадь
                                            input(type="text" name="solutions-square" placeholder="100 330 м2")
                                        .solution-calc__result
                                            p Стоимость материалов
                                            p.solution-calc__result-count 24 300 руб.
                                        a(data-src="#modal-preorder" href="javascript:;" data-fancybox).btn.btn-red.btn-small Предварительный заказ
                            .solution-item
                                .solution-item__top
                                    .solution-image
                                        img(src="./img/solutions/items/2.jpg" alt="#")
                                    .solution-info
                                        .solution-desc
                                            p.solution-desc__category Краска
                                            p.solution-desc__title Промышленный эпоксидный пол 3 мм
                                            p Надежная эпоксидная система на основе Тэпинг 205 С с&nbsp;грунтом и песком
                                            .solution-char
                                                p Характеристики
                                                .solution-char__icons.row
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-2.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-3.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                        .solution-price
                                            .solution-price__info
                                                p.solution-price__item 460 ₽
                                                p!="за м<sup>2</sup>"
                                            .solution-price__btn
                                                a(href="javascript:;").btn.btn-black-transparent.btn-small.solution-price__more-btn
                                                    span Подробнее
                                                    i.icon-arrow
                                .solution-item__bottom
                                    .solution-more-desc
                                        p.solution__text-icon Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении.
                                        .solution-more-desc__section
                                            .solution-more-desc__image
                                                img(src="./img/solutions/items/more-image.png" alt="#")
                                            .solution-more-desc__text
                                                p Финишный слой Тэпинг Пол 205 Пром
                                                p Укрепляющий слой Тэпинг Пол 205 С Пром
                                                p Базовый слой Тэпинг Пол 205 С Пром с армированием кварцевым песком
                                                p Грунт Тэпинг Р 1155
                                        p: strong Применяется на объектах
                                        p Склад, паркинг, гараж, производство, объект атомной энергетики, ТЭЦ, торговый центр, общественные здания, здравоохранение, аэропорт, вокзал, метро, образовательное учреждение, детская игровая площадка, спортивная площадка, фермерство, животновотство
                                    .solution-calc
                                        p.solution-calc__title Рассчитайте стоимость
                                        label.solution-calc__input
                                            span Площадь
                                            input(type="text" name="solutions-square" placeholder="100 330 м2")
                                        .solution-calc__result
                                            p Стоимость материалов
                                            p.solution-calc__result-count 24 300 руб.
                                        a(data-src="#modal-preorder" href="javascript:;" data-fancybox).btn.btn-red.btn-small Предварительный заказ
                            .solution-item
                                .solution-item__top
                                    .solution-image
                                        img(src="./img/solutions/items/3.jpg" alt="#")
                                    .solution-info
                                        .solution-desc
                                            p.solution-desc__category Наливной пол
                                            p.solution-desc__title Промышленный эпоксидный пол 3 мм
                                            p Надежная эпоксидная система на основе Тэпинг 205 С с&nbsp;грунтом и песком
                                            .solution-char
                                                p Характеристики
                                                .solution-char__icons.row
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-1.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-2.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-3.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-1.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-3.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                        .solution-price
                                            .solution-price__info
                                                p.solution-price__item 550 ₽
                                                p!="за м<sup>2</sup>"
                                            .solution-price__btn
                                                a(href="javascript:;").btn.btn-black-transparent.btn-small.solution-price__more-btn
                                                    span Подробнее
                                                    i.icon-arrow
                                .solution-item__bottom
                                    .solution-more-desc
                                        p.solution__text-icon Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении.
                                        .solution-more-desc__section
                                            .solution-more-desc__image
                                                img(src="./img/solutions/items/more-image.png" alt="#")
                                            .solution-more-desc__text
                                                p Финишный слой Тэпинг Пол 205 Пром
                                                p Укрепляющий слой Тэпинг Пол 205 С Пром
                                                p Базовый слой Тэпинг Пол 205 С Пром с армированием кварцевым песком
                                                p Грунт Тэпинг Р 1155
                                        p: strong Применяется на объектах
                                        p Склад, паркинг, гараж, производство, объект атомной энергетики, ТЭЦ, торговый центр, общественные здания, здравоохранение, аэропорт, вокзал, метро, образовательное учреждение, детская игровая площадка, спортивная площадка, фермерство, животновотство
                                    .solution-calc
                                        p.solution-calc__title Рассчитайте стоимость
                                        label.solution-calc__input
                                            span Площадь
                                            input(type="text" name="solutions-square" placeholder="100 330 м2")
                                        .solution-calc__result
                                            p Стоимость материалов
                                            p.solution-calc__result-count 24 300 руб.
                                        a(data-src="#modal-preorder" href="javascript:;" data-fancybox).btn.btn-red.btn-small Предварительный заказ
                            .solution-item
                                .solution-item__top
                                    .solution-image
                                        img(src="./img/solutions/items/4.jpg" alt="#")
                                    .solution-info
                                        .solution-desc
                                            p.solution-desc__category Наливной пол
                                            p.solution-desc__title Промышленный эпоксидный пол 3 мм
                                            p Надежная эпоксидная система на основе Тэпинг 205 С с&nbsp;грунтом и песком
                                            .solution-char
                                                p Характеристики
                                                .solution-char__icons.row
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-3.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                        .solution-price
                                            .solution-price__info
                                                p.solution-price__item 750 ₽
                                                p!="за м<sup>2</sup>"
                                            .solution-price__btn
                                                a(href="javascript:;").btn.btn-black-transparent.btn-small.solution-price__more-btn
                                                    span Подробнее
                                                    i.icon-arrow
                                .solution-item__bottom
                                    .solution-more-desc
                                        p.solution__text-icon Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении.
                                        .solution-more-desc__section
                                            .solution-more-desc__image
                                                img(src="./img/solutions/items/more-image.png" alt="#")
                                            .solution-more-desc__text
                                                p Финишный слой Тэпинг Пол 205 Пром
                                                p Укрепляющий слой Тэпинг Пол 205 С Пром
                                                p Базовый слой Тэпинг Пол 205 С Пром с армированием кварцевым песком
                                                p Грунт Тэпинг Р 1155
                                        p: strong Применяется на объектах
                                        p Склад, паркинг, гараж, производство, объект атомной энергетики, ТЭЦ, торговый центр, общественные здания, здравоохранение, аэропорт, вокзал, метро, образовательное учреждение, детская игровая площадка, спортивная площадка, фермерство, животновотство
                                    .solution-calc
                                        p.solution-calc__title Рассчитайте стоимость
                                        label.solution-calc__input
                                            span Площадь
                                            input(type="text" name="solutions-square" placeholder="100 330 м2")
                                        .solution-calc__result
                                            p Стоимость материалов
                                            p.solution-calc__result-count 24 300 руб.
                                        a(data-src="#modal-preorder" href="javascript:;" data-fancybox).btn.btn-red.btn-small Предварительный заказ
                            .solution-item
                                .solution-item__top
                                    .solution-image
                                        img(src="./img/solutions/items/5.jpg" alt="#")
                                    .solution-info
                                        .solution-desc
                                            p.solution-desc__category Краска
                                            p.solution-desc__title Промышленный эпоксидный пол 3 мм
                                            p Надежная эпоксидная система на основе Тэпинг 205 С с&nbsp;грунтом и песком
                                            .solution-char
                                                p Характеристики
                                                .solution-char__icons.row
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-1.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-2.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                                    .solution-char__icon
                                                        a(href="javascript:;").solution-char__link
                                                            img(src="./img/solutions/icon-3.svg")
                                                            .solution-char__more
                                                                p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных
                                        .solution-price
                                            .solution-price__info
                                                p.solution-price__item 990 ₽
                                                p!="за м<sup>2</sup>"
                                            .solution-price__btn
                                                a(href="javascript:;").btn.btn-black-transparent.btn-small.solution-price__more-btn
                                                    span Подробнее
                                                    i.icon-arrow
                                .solution-item__bottom
                                    .solution-more-desc
                                        p.solution__text-icon Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении.
                                        .solution-more-desc__section
                                            .solution-more-desc__image
                                                img(src="./img/solutions/items/more-image.png" alt="#")
                                            .solution-more-desc__text
                                                p Финишный слой Тэпинг Пол 205 Пром
                                                p Укрепляющий слой Тэпинг Пол 205 С Пром
                                                p Базовый слой Тэпинг Пол 205 С Пром с армированием кварцевым песком
                                                p Грунт Тэпинг Р 1155
                                        p: strong Применяется на объектах
                                        p Склад, паркинг, гараж, производство, объект атомной энергетики, ТЭЦ, торговый центр, общественные здания, здравоохранение, аэропорт, вокзал, метро, образовательное учреждение, детская игровая площадка, спортивная площадка, фермерство, животновотство
                                    .solution-calc
                                        p.solution-calc__title Рассчитайте стоимость
                                        label.solution-calc__input
                                            span Площадь
                                            input(type="text" name="solutions-square" placeholder="100 330 м2")
                                        .solution-calc__result
                                            p Стоимость материалов
                                            p.solution-calc__result-count 24 300 руб.
                                        a(data-src="#modal-preorder" href="javascript:;" data-fancybox).btn.btn-red.btn-small Предварительный заказ
                        .pagination.solution_pagination
                            a(href="#").pagination__more-btn Показать ещё
                            p.paginations__show-counter Показано 10 из 100